@media (max-width: 390px) {
	.navigation {
		display: none;
	}

	.hamburger-menu {
		display: block;
	}

	.nav {
		width: 390px;
		position: fixed;
	}

	.nav__img:nth-child(1) {
    	margin-left: 10px;
	}

	.search-box:hover > .search-txt {
	    width: 200px;
	    padding: 0 6px;
	}

	.search-box:hover > .search-btn {
	    position: fixed;
	    margin-left: 180px;
	}
	
	.logo {
		margin-right: 0;
	}

	#menu__toggle {
  		opacity: 0;
	}

	/* стилизуем кнопку */
	.menu__btn {
  		display: flex; /* используем flex для центрирования содержимого */
  		align-items: center;  /* центрируем содержимое кнопки */
  		position: fixed;
  		top: 20px;
  		left: 30px;
  		width: 26px;
  		height: 26px;
  		cursor: pointer;
  		z-index: 1;
	}

	/* добавляем "гамбургер" */
	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
  		display: block;
  		position: absolute;
  		width: 100%;
  		height: 2px;
  		background-color: #000;
	}

	.menu__btn > span::before {
  		content: '';
  		top: -8px;
	}

	.menu__btn > span::after {
  		content: '';
  		top: 8px;
	}

	/* контейнер меню */
	.menu__box {
  		display: block;
  		position: fixed;
  		visibility: hidden;
  		top: 0;
  		left: -100%;
  		width: 200px;
  		height: 100%;
  		margin: 0;
  		padding: 80px 0;
  		list-style: none;
  		text-align: center;
  		background-color: #ECEFF1;
  		box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	}

	/* элементы меню */
	.menu__item {
		display: block;
		padding: 12px 24px;
		color: #333;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
	}

	.menu__item:hover {  		
		background-color: #CFD8DC;
	}

	#menu__toggle:checked ~ .menu__btn > span {
  		transform: rotate(45deg);
	}

	#menu__toggle:checked ~ .menu__btn > span::before {
  		top: 0;
  		transform: rotate(0);
	}

	#menu__toggle:checked ~ .menu__btn > span::after {
  		top: 0;
  		transform: rotate(90deg);
	}

	#menu__toggle:checked ~ .menu__box {
  		visibility: visible;
  		left: 0;
	}

	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
  		transition-duration: .25s;
	}

	.menu__box {
  		transition-duration: .25s;
	}

	.menu__item {
  		transition-duration: .25s;
	}

	.header {
    	width: 390px;
    	height: 420px;
    	padding: 0 45px;
    	display: block;
	}

	.header__title {
    	width: 100%;
    	height: 220px;
    	display: flex;
    	justify-content: flex-end;
    	text-align: center;
	}

	.title {
		margin-bottom: 0;
	}

	.header__gallery {
		width: 100%;
	}

	.header__gallery {
		height: 200px;
	}

	.category__img{
    	width: 300px;
	}

	.main {
		width: 390px;
	}

	.gallery__img{
    	margin-bottom: 10px;
	}
	
	.gallery__title{
		font-size: 22px;
	}

	.gallery__price{
    	font-size: 18px;
    	margin-bottom: 30px;
	}

	.load__more{
    	margin-bottom: 80px;
	}

	.load__button {
		font-size: 18px;
	}

	.footer{
    	width: 390px;
    }	
}	
